@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
	font-family: 'Exo 2', sans-serif;
}

html, body {
	margin: 0;
	background: #f2edd7;
}

#welcome {
	text-align: center;
}

h3.rainbow {
	text-align: center;
	width: 100%;
	bottom: 0;
	position: absolute;
	background: black;
	margin: 3px;
}
