@import url('https://fonts.googleapis.com/css?family=Exo+2');
* {font-family:'Exo 2';}
html,body{margin:0;background:#FFD485;}.rainbow{text-align:center;width:100%;background:black;display:table;margin:0;}
#welcome, hr {
    margin-bottom: 20px;
}
.rainbow.note {
     position: absolute;
     bottom: 0;
}
iframe {
     font-family:'Exo 2';
}
.quizSection {
    background:white;
    border:5px solid black;
    width:70%;
    margin:3px;
    align-content:center;
    display:table;
    margin:0 auto;
}

.quizSection #questionSection .oof,.quizSection #questionSection .oof span, .quizSection #questionSection .oof .inputContainer {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.quizSection a {
    width: 150px;
    text-decoration: none;
    color: black;
    height: 36px;
    text-align: center;
    line-height: 2;
    display: table;
    margin: 0 auto;
    margin-bottom: 25px;
}
#qScore {margin:30px;}
body {min-height: 115% !important;}
#reset {
    margin: 40px;
}
#navbar {
    width: 100vw;
    height: 60px;
}
#navbar div {
    position: relative;
    float: left;
    width: calc(100vw / 4);
    height: 100%;
    background: white;
    text-align: center;
    line-height: 2;
    transition: background 0.5s;
    margin-bottom: 10px;
}
#navbar div:hover {
    background: lightgray;
    cursor: pointer;
}
#navbar a {
    text-decoration: none;
    color: black;
}
